.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

.container {
	padding-top: 80px;
	margin-bottom: 200px;
}

#message {
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
}